<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php
$_htmlId = $block->getHtmlId() ? $block->getHtmlId() : '_' . uniqid();
$_colspan = $block->isAddAfter() ? 2 : 1;
?>

<div class="design_theme_ua_regexp" id="grid<?= $block->escapeHtmlAttr($_htmlId) ?>">
    <div class="admin__control-table-wrapper">
        <table class="admin__control-table" id="<?= $block->escapeHtmlAttr($block->getElement()->getId()) ?>">
            <thead>
            <tr>
                <?php foreach ($block->getColumns() as $columnName => $column): ?>
                    <th><?= $block->escapeHtml($column['label']) ?></th>
                <?php endforeach; ?>
            </tr>
            </thead>
            <tfoot id="add_btn">
            <tr>
                <td colspan="<?= count($block->getColumns())+$_colspan ?>" class="col-actions-add">
                    <button id="addToEndBtn<?= $block->escapeHtmlAttr($_htmlId) ?>" 
                        class="action-add" title="<?= $block->escapeHtmlAttr(__('Add')) ?>" type="button">
                        <span><?= $block->escapeHtml($block->getAddButtonLabel()) ?></span>
                    </button>
                </td>
            </tr>
            </tfoot>
            <tbody id="addRow<?= $block->escapeHtmlAttr($_htmlId) ?>"></tbody>
        </table>
    </div>
    <input type="hidden" name="<?= $block->escapeHtmlAttr($block->getElement()->getName()) ?>[__empty]" value="" />

    <script>
        require([
            'mage/template',
            'prototype'
        ], function (mageTemplate) {
        // create row creator
        window.arrayRow<?= $block->escapeJs($_htmlId) ?> = {

            // define row prototypeJS template
            template: mageTemplate(
                    '<tr id="<%- _id %>">'
                    <?php foreach ($block->getColumns() as $columnName => $column): ?>
                        + '<td>'
                        + '<?= $block->escapeJs($block->renderCellTemplate($columnName)) ?>'
                        + '<\/td>'
                    <?php endforeach; ?>
                    + '<\/tr>'
            ),

            add: function(rowData, insertAfterId) {
                // generate default template data
                var templateValues;

                // Prepare template values
                if (rowData) {
                    templateValues = rowData;
                } else {
                    var d = new Date();
                    templateValues = {
                        <?php foreach ($block->getColumns() as $columnName => $column): ?>
                            <?= $block->escapeJs($columnName) ?>: '',
                                'option_extra_attrs': {},
                        <?php endforeach; ?>
                        _id: '_' + d.getTime() + '_' + d.getMilliseconds()
                };
            }

            // Insert new row after specified row or at the bottom
            if (insertAfterId) {
                Element.insert($(insertAfterId), {after: this.template(templateValues)});
            } else {
                Element.insert($('addRow<?= $block->escapeJs($_htmlId) ?>'), {bottom: this.template(templateValues)});
            }

            // Fill controls with data
            if (rowData) {
                var rowInputElementNames = Object.keys(rowData.column_values);
                for (var i = 0; i < rowInputElementNames.length; i++) {
                    if ($(rowInputElementNames[i])) {
                        $(rowInputElementNames[i]).setValue(rowData.column_values[rowInputElementNames[i]]);
                    }
                }
            }

            // Add event for {addAfterBtn} button
            <?php if ($block->isAddAfter()): ?>
            Event.observe('addAfterBtn' + templateValues._id, 'click', this.add.bind(this, false, templateValues._id));
            <?php endif; ?>
            },

            del: function(rowId) {
                $(rowId).remove();
            }
        }

        // add existing rows
        <?php
        foreach ($block->getArrayRows() as $_rowId => $_row) {
            echo /** @noEscape */ "arrayRow{$block->escapeJs($_htmlId)}.add(" .
            /** @noEscape */ $_row->toJson() . ");\n";
        }
        ?>

        // Toggle the grid availability, if element is disabled (depending on scope)
        <?php if ($block->getElement()->getDisabled()): ?>
        toggleValueElements({checked: true}, $('grid<?= $block->escapeJs($_htmlId) ?>').parentNode);
        <?php endif; ?>
        });
        require(['jquery'], function($){ 
            $(document).ready(function() {
                
                var checked = document.getElementById('onestepcheckout_sorting_address_fields_inherit').checked;
                if (checked) {
                    updateClass('add');
                }
                $(document).on('change', '#onestepcheckout_sorting_address_fields_inherit', function( event ) {
                    if (!this.checked) {
                        updateClass('remove');
                    }
                    else {
                        updateClass('add');
                    }
                });

                function updateClass (type) {
                    var toggles = document.querySelectorAll('.round');
                     if(toggles.length > 0) {
                        for(var i = 0; i < toggles.length; i++) {
                            if (type == "add") {
                                if (!$(toggles[i]).hasClass('disabled')) {
                                  $(toggles[i]).addClass('disabled');
                                }
                            }
                            else {
                                if ($(toggles[i]).hasClass('disabled')) {
                                  $(toggles[i]).removeClass('disabled');
                                }
                            }
                        }
                    }
                }

                readonly = function (elem) {
                    var input = $(elem);
                    var readonly = document.getElementById($(input).attr('id')).readOnly;
                    if (!readonly) {
                        document.getElementById($(input).attr('id')).readOnly = true;
                    }
                }
                var myVar = setInterval(toggleCheckboxes, 500);
                var flag = "";
                function toggleCheckboxes() {
                    
                    $("#add_btn").remove();
                    var config = <?= /* @noEscape */ json_encode($block->getCheckedValues()); ?>;
                    var items = document.querySelectorAll('.input-status');
                    if(items.length > 0) {
                        for(var i = 0; i < items.length; i++) {
                            var id = items[i].id.match(/(\d+)/); 
                            if (id) {
                                function getValueByKey(value) {
                                    if (typeof config !== 'undefined' && config.length > 0) {
                                        for(var i = 0; i < config.length; i++) {
                                            var eler = config[i];
                                            if (i == value) {
                                                return eler.status;
                                            }
                                        }
                                    }
                                    return 0;
                                }
                                var status = getValueByKey(id[0]);
                                var value =  $(items[i]).next().next();
                                if (status == "1") {
                                    value.val('1');
                                    value.attr('value','1');
                                    document.getElementById($(items[i]).attr('id')).checked= true;
                                }
                                else {
                                    value.val('0');
                                    value.attr('value','0');
                                    document.getElementById($(items[i]).attr('id')).checked= false;
                                }
                            }
                            let l = items.length-1;
                            if (l == i) {
                                var flag = "toggleCheckboxes";
                            }  
                        }
                    }
                    
                    if (flag == "toggleCheckboxes") {
                        clearInterval(myVar);
                    }
                }
            });
        });
    </script>
</div>
