<?php
/**
 * DISCLAIMER
 *
 *
 * @category    Tridhyatech
 * @package     Tridhyatech_OneStepCheckout
 * @copyright   Tridhyatech Limited (https://www.tridhyatech.com/)
 * @license     https://www.tridhyatech.com//license.html
 */
$helper = $this->helper(\Tridhyatech\OneStepCheckout\Helper\Data::class);
?>
<?php if ($helper->isEnableGoogleApi() && $helper->getGoogleApiKey()): ?>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=
    <?= $block->escapeHtml($helper->getGoogleApiKey()) ?>&libraries=places" defer>
    </script>
<?php endif; ?>
<?php
$designArr = $helper->getConfigDesign();
$background =  $designArr['background'] ? $designArr['background'] : "#006bb4";
$text =  $designArr['text_color'] ? $designArr['text_color'] : "#ffffff";
$backgroundColor = '#' . trim($background, '#');
$textColor = '#' . trim($text, '#');
$placeOrderButton = '#' . trim($designArr['place_order_button'], '#');
?>
<style type="text/css">
    .title .number {
        display: none;
    }
    .opc-estimated-wrapper .minicart-wrapper {
        display: block!important;
    }
    span.fa-stack.fa-2x {
        display: none;
    }
    .billing-address-details {
        display: none;
    }
    .street.col-ones.trd-12.trd-clear {
        float: none!important;
    }

    fieldset.field.street.col-ones.trd-12.trd-clear.admin__control-fields.required {
        display: block;
        width: 100%;
    }
    .delivery-date-time {
        display: flex;
        justify-content: space-between;
    }
    .trd-clear {
        clear: both;
    }
    .trd-4 {
        width: 33.3333333333%;
    }
    .trd-6 {
        width: 50.0%;
    }
    .td-12 {
        margin-left: 0;
        width: 100%;
    }
    .col-td.trd-12 {
        margin-left: 0;
        width: 100%;
    }
    .trd-8 {
        width: 66.6666666667%;
    }
    .col-td {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding-box !important;
        -webkit-background-clip: padding-box !important;
        background-clip: padding-box !important;
        float: left;
        padding: 0 10px;
    }
    .page-wrapper {
        
        overflow-x: hidden;
    }
    .one-step-checkout-wrapper .trd-4 .opc-block-summary {
        padding: 0 0px;
    }

    .fas.fa-shipping-timed:before {
        content: "\f0d1";
    }

    #maincontent .onestepcheckout-place-order-block.checkout-delivery-block {
        margin-top: 20px;
    }

    .delivery-date-time .date .input-text{
        width: 75%;
    }

    #co-place-order-area .onestepcheckout-place-order-block.checkout-addition-block.col-td.td-12 {
        padding-top: 10px !important;
    }

    #co-place-order-area .onestepcheckout-addition-content-wrapper.col-ones.trd-lg-6.trd-md-6.trd-sm-12.trd-xs-12 {
        margin-top: 18px;
    }

    #delivery-form .required .label:after {
        content: '*';
        color: #e02b27;
        font-size: 1.2rem;
        margin: 0 0 0 5px;
    }

    #delivery-form .ui-datepicker-trigger {
        position: absolute;
    }

    #delivery-form .ui-datepicker-trigger:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 23px;
        line-height: 23px;
        color: #7d7d7d;
        content: '\e612';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }

    @media (min-width: 1200px){
        .trd-lg-7 {
            width: 58.3333333333%;
        }
    }

    @media (max-width: 480px){
        .col-ones {
            width: 100%;
        }
    }

    @media (max-width: 991px) and (min-width: 768px){
        .trd-sm-6 {
            width: 46% !important;
            margin: 0px 14px;
        }
    }
    
    @media (min-width: 481px) and (max-width: 767px) {
        .trd-xs-12 {
                margin-left: 0;
                width: 100%;
        }
    }
    <?php if (in_array($designArr['page_layout'], ['2columns'])) { ?>
    .col-ones.onestepcheckout-addition-content-wrapper, .col-ones.onestepcheckout-place-order-wrapper {
        margin-left: 0;
        width: 100%;
    }
    <?php } ?>
    <?php switch ($designArr['page_design']): ?><?php case 'custom':
        ?>
    .checkout-container a.button-action,
    .popup-authentication button.action,
    .popup-gift-message-item button.action,
    .checkout-container button:not(.primary)
    :not(.action-show):not(.action-close)
    :not(.edit-address-link):not(.ui-datepicker-trigger) {
        background-color: <?= $block->escapeHtml($backgroundColor) ?> !important;
        border-color: <?= $block->escapeHtml($backgroundColor) ?> !important;
        box-shadow: none !important;
    }

    .gift-message-item-content .fa-gift {
        color: <?= $block->escapeHtml($backgroundColor) ?> !important;
    }

    .step-title {
        background-color: <?= $block->escapeHtml($backgroundColor) ?>;
        padding: 12px 10px 12px 12px !important;
        font-weight: bold !important;
        font-size: 16px !important;
        color: <?= $block->escapeHtml($textColor) ?> !important;
        text-transform: uppercase;
        line-height: 1.1;
    }

    .step-title .fa {
        display: inline-helper !important;
        font-size: 24px;
        margin-right: 12px;
        vertical-align: text-bottom;
    }

    .one-step-checkout-container .onestepcheckout-geolocation {
        color: <?= $block->escapeHtml($backgroundColor) ?>;
    }
        <?php
                                                          break; ?>
        <?php case 'latest':
            ?>
        .step-title .fa {
            display: block;
        }

            <?php switch ($designArr['page_layout']) { ?><?php case '1column':
                ?>
        .opc-wrapper .form-login, .opc-wrapper .form-shipping-address {
            max-width: 100% !important;
        }

        #checkoutSteps .hoverable {
            padding-bottom: 25px;
            margin-top: 25px
        }

        #opc-sidebar .order-summary.hoverable {
            margin-top: 25px !important;
        }

        .checkout-agreements-helper {
            margin-bottom: 20px !important;
        }

        .onestepcheckout-place-order-helper .payment-option-inner .control {
            width: 100% !important;
        }

        div#column1 {
            margin-left: 10px;
        }

        .header.content {
            padding: 30px 30px 0;
        }

                <?php if ($helper->isVirtual()) { ?>
        div[data-bind="scope: 'checkout.steps.shipping-step'"] {
            display: none
        }

        @media only screen and (max-width: 1024px) {
            div[data-bind="scope: 'checkout.sidebar'"] {
                margin-top: 0px !important;
            }
        }
    <?php }?>
                <?php
                                                                   break; ?>

                <?php case '2columns':
                    ?>
        .opc-wrapper .form-login, .opc-wrapper .form-shipping-address {
            max-width: 100% !important;
        }

        .onestepcheckout-place-order-helper .payment-option-inner .control {
            width: 100% !important;
        }

        .checkout-agreements-helper {
            margin-bottom: 20px !important;
        }

        @media (min-width: 768px), print {
            div[data-bind="scope: 'checkout.steps.billing-step'"] {
                margin-top: 0 !important;
            }

            .one-step-checkout-container > .trd-6 {
                width: 46% !important;
                margin: 0px 14px;
            }

            div[data-bind="scope: 'checkout.sidebar'"], div[data-bind="scope: 'checkout.steps.shipping-step'"] {
                margin-top: 35px;
            }
        }

                    <?php if ($helper->isVirtual()): ?>
        @media only screen and (max-width: 766px) {
            div[data-bind="scope: 'checkout.steps.shipping-step'"] {
                margin-top: 0px !important;
            }
        }
        <?php endif ?>
                    <?php
                          break; ?>

                <?php case '3columns':
                    ?>
                    <?php if ($helper->isVirtual()): ?>
            div[data-bind="scope: 'checkout.steps.billing-step'"] {
                margin-top: 0px !important;
            }
        <?php endif ?>
                    <?php
                          break; ?>
    <?php } ?>

    .fa-stack.fa-2x > i, .fa.fa-gift.fa-2x, .fa.fa-check-circle {
        color:<?= $block->escapeHtml($backgroundColor) ?>
    }

    .fa-stack.fa-2x {
        font-size: 0.7em;
    }

    .fa-stack.fa-2x > i {
        display: helper;
    }

    .fa.fa-check-circle {
        display: initial;
        margin-left: 10px;
        font-size: 1.3em;
    }

    .popup-authentication .helper-authentication .messages {
        margin-bottom: 25px !important;
    }

    ._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
        box-shadow: none;
    }

    .required-entry {
        color: #e02b27;
        font-size: 1.2rem
    }

    fieldset.street.required legend.label {
        display: none
    }

    .field .control.input-field .label {
        position: absolute;
        top: 10px;
        left: 10px;
        -webkit-transition: 0.2s ease;
        transition: 0.2s ease;
        pointer-events: none;
    }

    .input-field input:focus ~ label, .input-field input.active ~ label {
        color: #9d9d9d;
        -webkit-transform: transform: translate(-9%, -55%) scale(0.85);
        transform: translate(-9%, -55%) scale(0.85);
        top: 5px;
        top: -9px !important;
        left: 0 !important;
    }

    .input-field input:valid ~ label {
        color: #9d9d9d;
        -webkit-transform: transform: translate(-9%, -55%) scale(0.85);
        transform: translate(-9%, -55%) scale(0.85);
        top: 5px;
        top: -9px !important;
        left: 0 !important;
    }

    .field._error .control input, .field._error .control select, .field._error .control textarea {
        border-color: #ccc;
    }

    div[name='shippingAddress.country_id'] .label, 
    div[name='shippingAddress.region_id'] .label, 
    div[name='billingAddress.country_id'] .label, 
    div[name='billingAddress.region_id'] .label {
        top: -15px !important;
        transform: translate(-6%, -28%) scale(0.85);
        margin-left: 10px;
        left: 0 !important;
        color: #9d9d9d;
    }

    div[name='shippingAddress.country_id'], div[name='shippingAddress.city'], 
    div[name='shippingAddress.postcode'], div[name='shippingAddress.region'], 
    div[name='shippingAddress.region_id'], div[name='shippingAddress.company'], 
    div[name='shippingAddress.telephone'], div[name='billingAddress.country_id'], 
    div[name='billingAddress.city'], div[name='billingAddress.postcode'], 
    div[name='billingAddress.region'], div[name='billingAddress.region_id'], 
    div[name='billingAddress.company'], div[name='billingAddress.telephone'] {
        margin-top: 10px !important;
    }

    .one-step-checkout-wrapper select, .modal-popup select {
        border: none;
        border-bottom: 1px solid #ccc;
        margin-top: 5px;
    }

    #checkout-step-billing > .field.field-select-billing {
        margin-bottom: 35px;
    }

    div[data-bind="scope: 'checkout.steps.billing-step'"] {
        margin-top: 25px;
    }

    .modal-content #opc-new-shipping-address {
        margin-top: 25px
    }

    fieldset#billing-new-address-form > .choice.field {
        clear: both
    }

    #create-account-form {
        padding-top: 20px;
    }

    #payment .step-title {
        border-bottom: 1px solid #ccc;
    }

    div[data-bind="scope: 'checkout.sidebar'"] {
        padding: 0;
    }

    .trd-4 .opc-helper-summary {
        padding: 0 0px !important;
    }

    .opc-helper-summary .table-totals {
        border: none;
        border-top: none !important;
    }

    #checkout-review-table {
        border: none
    }

    .field .control.input-field {
        position: relative;
    }

    .gift-options-content textarea {
        border-bottom: 1px solid #ccc !important;
        border: none;
    }

    .order-summary.hoverable .step-title {
        padding-top: 0px;
    }

    .opc-helper-summary .table-totals, table#checkout-review-table {
        background: #f0f0f0;
    }

    .onestepcheckout-place-order-helper .payment-option-inner .control {
        width: 58%;
        float: left;
        margin-right: 5px;
    }

    .order-summary.hoverable {
        margin-top: -9px;
        padding-top: 1px;
    }

    tr.grand.totals, tr.grand.totals .mark {
        background: #e1e1e1 !important;
    }

    .mark {
        background: #f0f0f0;
    }

    .order-summary.hoverable .opc-helper-summary.step-content {
        padding: 0;
    }

    .order-summary.hoverable .opc-helper-summary.step-content .helper.items-in-cart {
        padding: 0 10px;
    }

    #checkout-review-table thead th {
        text-align: center;
    }

    .qty-wrapper .qty-wrap .input-text.update {
        border: 1px solid;
        height: 22px;
    }

    .onestepcheckout-place-order-helper {
        border: none;
        padding: 0 !important;
    }

    .onestepcheckout-place-order-helper .choice {
        padding: 0
    }

    .checkout-agreements-helper {
        margin-bottom: 20px !important;
    }

    .product-item-name-helper a:hover {
        text-decoration: underline;
    }

    @media only screen and (max-width: 1024px) {
        #checkout-step-shipping_method > .co-shipping-method-form {
            margin: 0;
            padding: 0
        }

        .onestepcheckout-place-order-helper .payment-option-inner .control {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        input[type="text"], input[type="password"] {
            border-bottom: none;
        }

        #create-account-form .onestepcheckout-password, #create-account-form .confirmation {
            padding: 0 6px
        }
    }

    @media (max-width: 991px) and (min-width: 768px) {
        .trd-sm-6 {
            width: 46% !important;
            margin: 0px 14px;
        }

        div[data-bind="scope: 'checkout.sidebar'"] {
            margin-top: 30px;
            float: right;
        }
    }

    @media only screen and (max-width: 766px) {
        div[data-bind="scope: 'checkout.sidebar'"], 
        div[data-bind="scope: 'checkout.steps.shipping-step'"], 
        div[data-bind="scope: 'checkout.steps.billing-step'"] {
            margin-top: 25px;
        }

        form#co-shipping-method-form {
            padding: 0;
            margin: 0;
        }

        .one-step-checkout-wrapper .step-title {
            font-size: 2.6rem;
        }

        .opc-wrapper .form-login, .opc-wrapper .form-shipping-address, .opc-wrapper .methods-shipping {
            background: none !important;
        }

        #payment .step-title {
            border-bottom: none;
        }

        input[type="text"], input[type="password"] {
            border-bottom: none;
        }

        form#create-account-form .confirmation {
            margin-top: 20px
        }
    }

    .opc-wrapper .step-title, #opc-sidebar .order-summary.hoverable .step-title {
        padding-top: 10px;
    }

    @media (min-width: 1020px) {
        .trd-4 {
            width: 30.3333333333% !important;
            margin: 0px 13px !important;
        }

        #maincontent {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .one-step-checkout-wrapper .hoverable:hover {
        transition: box-shadow .25s;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .one-step-checkout-wrapper .hoverable {
        transition: box-shadow .25s;
        box-shadow: 0;
    }

    .one-step-checkout-wrapper .hoverable {
        transition: box-shadow .25s;
        box-shadow: 0;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.10), 0 1px 5px rgba(0, 0, 0, 0.30);
        transition: all .3s ease-in-out;
    }

    #opc-sidebar .order-summary.hoverable, #opc-sidebar .order-summary.hoverable .step-title {
        margin-top: 0px;
        background: #f0f0f0;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        display: helper;
        width: 100%;
        color: #555;
        height: 38px;
        padding: 7px 0;
        font-size: 16px;
        line-height: 1.42857143;
        margin-bottom: 7px;
        border: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, 
            from(<?= $block->escapeHtml($backgroundColor) ?>), to(<?= $block->escapeHtml($backgroundColor) ?>)),
             -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
        background-image: -webkit-linear-gradient(<?= $block->escapeHtml($backgroundColor) ?>, 
            <?= $block->escapeHtml($backgroundColor) ?>), 
        -webkit-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: -o-linear-gradient(<?= $block->escapeHtml($backgroundColor) ?>, 
            <?= $block->escapeHtml($backgroundColor) ?>), -o-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: linear-gradient(<?= $block->escapeHtml($backgroundColor) ?>, 
            <?= $block->escapeHtml($backgroundColor) ?>), linear-gradient(#D2D2D2, #D2D2D2);
        -webkit-background-size: 0 2px, 100% 1px;
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center -webkit-calc(100% - 1px);
        background-position: center bottom, center calc(100% - 1px);
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition: background 0s ease-out;
        -o-transition: background 0s ease-out;
        transition: background 0s ease-out;
        float: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
    }

    input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
        outline: none;
        background-image: -webkit-gradient(linear, left top, left bottom, 
            from( <?= $block->escapeHtml($backgroundColor) ?> ), 
            to(<?= $block->escapeHtml($backgroundColor) ?>)), 
        -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
        background-image: -webkit-linear-gradient(<?= $block->escapeHtml($backgroundColor) ?>, 
            <?= $block->escapeHtml($backgroundColor) ?>), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: -o-linear-gradient(<?= $block->escapeHtml($backgroundColor) ?>, 
            <?= $block->escapeHtml($backgroundColor) ?>), -o-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: linear-gradient(<?= $block->escapeHtml($backgroundColor) ?>, 
            <?= $block->escapeHtml($backgroundColor) ?>), linear-gradient(#D2D2D2, #D2D2D2);
        -webkit-background-size: 100% 2px, 100% 1px;
        background-size: 100% 2px, 100% 1px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    input[type=checkbox], .one-step-checkout-wrapper input[type=radio] {
        box-sizing: border-box;
        padding: 0
    }

    [type=radio]:checked, .one-step-checkout-wrapper [type=radio]:not(:checked) {
        position: absolute;
        left: -9999px;
        opacity: 0
    }

    [type=radio]:checked + label, .one-step-checkout-wrapper [type=radio]:not(:checked) + label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-helper;
        height: 25px;
        line-height: 25px;
        transition: .28s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    [type=radio].with-gap:checked + label:after, 
    .one-step-checkout-wrapper [type=radio].with-gap:checked + label:before, 
    .one-step-checkout-wrapper [type=radio]:checked + label:after {
        border: 2px solid<?= $block->escapeHtml($backgroundColor) ?>
    }

    [type=radio].with-gap:checked + label:after, 
    .one-step-checkout-wrapper [type=radio].with-gap:checked + label:before, 
    .one-step-checkout-wrapper [type=radio]:checked + label:after, 
    .one-step-checkout-wrapper [type=radio]:checked + label:before, 
    .one-step-checkout-wrapper [type=radio]:not(:checked) + label:after, 
    .one-step-checkout-wrapper [type=radio]:not(:checked) + label:before {
        border-radius: 50%
    }

    [type=radio]:checked + label:before {
        border: 2px solid transparent
    }

    [type=radio] + label:after, .one-step-checkout-wrapper [type=radio] + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 3px;
        width: 13px;
        height: 13px;
        z-index: 0;
        transition: .28s ease
    }

    [type=radio].with-gap:checked + label:after {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    [type=radio].with-gap:checked + label:after, .one-step-checkout-wrapper [type=radio]:checked + label:after {
        background-color:<?= $block->escapeHtml($backgroundColor) ?>
    }

    [type=radio]:checked + label:after {
        -webkit-transform: scale(1.02);
        transform: scale(1.02)
    }

    [type=radio]:not(:checked) + label:after, .one-step-checkout-wrapper [type=radio]:not(:checked) + label:before {
        border: 2px solid #5a5a5a;
    }

    [type=radio]:not(:checked) + label:after {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

            <?php if ($designArr['radio_button_style'] == 'with_gap') { ?>
        [type=radio]:checked + label:after {
            -webkit-transform: scale(.5);
            transform: scale(.5);
        }

        [type=radio]:checked + label:after, 
        .one-step-checkout-wrapper [type=radio]:checked + label:before, 
        .one-step-checkout-wrapper [type=radio]:checked + label:after {
            border: 2px solid<?= $block->escapeHtml($backgroundColor) ?>;
        }

        <?php } ?>

        [type=checkbox]:checked, 
        .one-step-checkout-wrapper [type=checkbox]:not(:checked), 
        #opc-new-shipping-address [type=checkbox]:not(:checked) {
            /*position: absolute;*/
            display: block;
            position: relative;
            overflow: hidden;
            opacity: 0;
            z-index: 999;
        }

        .one-step-checkout-wrapper .payment-method-content input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

            <?php if ($designArr['checkbox_button_style'] == 'default') { ?>
        [type=checkbox] + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            display: inline-helper;
            height: 25px;
            line-height: 25px;
        }

        [type=checkbox] + label:before, .one-step-checkout-wrapper [type=checkbox]:not(.filled-in) + label:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            z-index: 0;
            border: 2px solid #5a5a5a;
            border-radius: 1px;
            margin-top: 2px;
            transition: .2s
        }

        [type=checkbox]:not(.filled-in) + label:after {
            border: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        [type="checkbox"]:checked + label:before {
            top: -4px;
            left: -5px;
            width: 10px;
            height: 20px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid<?= $block->escapeHtml($backgroundColor) ?>;
            border-bottom: 2px solid<?= $block->escapeHtml($backgroundColor) ?>;
            transform: rotate(40deg);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%
        }

    <?php } elseif ($designArr['checkbox_button_style'] == 'pre_filled') {?>
        
        .checkout-agreement .label:after {
            content: " " !important;
            margin: 0 0 0 0px !important;
        }
        
        [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
            display: block;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            z-index: 999;
            opacity: 0
        }

        [type="checkbox"] + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            display: inline-helper;
            height: 25px;
            line-height: 25px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;
        }

        [type="checkbox"]:checked + label:before {
            top: 0;
            left: 1px;
            width: 8px;
            height: 13px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            -webkit-transform: rotateZ(37deg);
            transform: rotateZ(37deg);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            z-index: 99;
        }

        [type="checkbox"] + label:before, [type="checkbox"] + label:after {
            content: '';
            left: 0;
            position: absolute;
            transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
            box-sizing: border-box;
        }

        [type="checkbox"] + label:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            z-index: 0;
            border: 2px solid #5a5a5a;
            border-radius: 1px;
            margin-top: 2px;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            transition: 0.2s;
        }

        [type="checkbox"]:not(:checked) + label:before {
            width: 0;
            height: 0;
            border: 3px solid transparent;
            left: 6px;
            top: 10px;
            -webkit-transform: rotateZ(37deg);
            transform: rotateZ(37deg);
            -webkit-transform-origin: 20% 40%;
            transform-origin: 100% 100%;
        }

        [type="checkbox"]:not(:checked) + label:after {
            height: 20px;
            width: 20px;
            background-color: transparent;
            border: 2px solid #5a5a5a;
            top: 0px;
            z-index: 0;
        }

        [type="checkbox"]:checked + label:after {
            top: 0px;
            width: 20px;
            height: 20px;
            border: 2px solid<?= $block->escapeHtml($backgroundColor) ?>;
            background-color: <?= $block->escapeHtml($backgroundColor) ?>;
            color: <?= $block->escapeHtml($textColor) ?>;
            z-index: 0;
        }

    <?php } ?>

            <?php
                  break; ?>

        <?php default:
            ?>
    .checkout-payment-method .step-title, 
    #shipping .step-title, #opc-shipping_method .step-title, 
    .order-summary .step-title {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .gift-message-item-content .fa-gift {
        color: #AAAAAA;
    }
    <?php endswitch; ?>

    .onestepcheckout-place-order-wrapper .place-order-primary button.primary.checkout {
        background-color: <?= $block->escapeHtml($placeOrderButton) ?> !important;
        border-color: <?= $block->escapeHtml($placeOrderButton) ?> !important;
    }
    <?php if ($backgroundColor != "" && $textColor != "" && $designArr['page_design'] != "default") { ?>
        .opc-wrapper .shipping-address-item.selected-item {
            border-color: <?= $block->escapeHtml($backgroundColor) ?>;
        }

        .opc-wrapper .shipping-address-item.selected-item:after {
            background: <?= $block->escapeHtml($backgroundColor) ?>;
        }

        .opc-wrapper .action-show-popup {
            background-color: <?= $block->escapeHtml($backgroundColor) ?>;
            color: <?= $block->escapeHtml($textColor) ?>;
            box-shadow: none !important;
        }

        .checkout-container a {
            color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .block-content a {
            color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .checkout-payment-method .payment-option-title .action-toggle {
            color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .checkout-agreements-block .action-show span {
            color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .checkout-payment-method .payment-option-content .form-discount .actions-toolbar .primary .action {
            background-color: <?= $block->escapeHtml($backgroundColor) ?>;
            box-shadow: none !important;
            color: <?= $block->escapeHtml($textColor) ?>;
        }

        .product-item a {
            background-color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .checkout-payment-method .payment-option-title .action-toggle:after {
            color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .minicart-items .product .toggle:after {
            color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .minicart-items .product.options .toggle > span {
            color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .opc-block-summary .items-in-cart > .title:after {
            color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .gift-message-item > i {
            color: <?= $block->escapeHtml($backgroundColor) ?>!important;
        }

        .onestepcheckout-place-order-block .field-row .action {
            background-color: <?= $block->escapeHtml($backgroundColor) ?>!important;
            color: <?= $block->escapeHtml($textColor) ?>;
            box-shadow: none !important;
            color: <?= $block->escapeHtml($textColor) ?>;
        }

        .block-authentication .block-content .action-login {
            background-color: <?= $block->escapeHtml($backgroundColor) ?>!important;
            color: <?= $block->escapeHtml($textColor) ?>;
            box-shadow: none !important;
            color: <?= $block->escapeHtml($textColor) ?>;
        }

        .modal-popup .action-save-address, .action-hide-popup {
            background-color: <?= $block->escapeHtml($backgroundColor) ?>!important;
            color: <?= $block->escapeHtml($textColor) ?>;
            box-shadow: none !important;
            color: <?= $block->escapeHtml($textColor) ?>;
            border: 1px solid <?= $block->escapeHtml($backgroundColor) ?>;
        }

        .modal-popup .actions-toolbar .primary button[type="submit"] {
            background: <?= $block->escapeHtml($backgroundColor) ?>;
            color: <?= $block->escapeHtml($textColor) ?>;
            box-shadow: none !important;
            color: <?= $block->escapeHtml($textColor) ?>;
        }

        .onestepcheckout-place-order-wrapper button.action.primary.checkout span {
            color: <?= $block->escapeHtml($textColor) ?>;
        }
    <?php } ?>

    <?php if ($designArr['page_design'] != "latest") { ?>
        .step-title .fa {
            display: none;
        }
    <?php } ?>
</style>
