<!--
/**
 * @author Tridhyatech Team
 * @copyright Copyright (c) 2023 Tridhyatech (https://www.tridhyatech.com/)
 * @package Tridhyatech_SupportTicket
 */
-->
<button class="action primary ticket">
    <a class="btn-link" href="<?= $block->escapeHtml($block->getBaseUrl().'supportticket/ticket/form'); ?>">
        <?= $block->escapeHtml(__('Add Ticket')) ?>
    </a>
</button>

<?php
    $collection = $block->getTicketCollection();
?>
<h3><?= $block->escapeHtml(__('My Support Tickets')) ?></h3>
<br>
<?php if ($collection && count($collection)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('Tickets')) ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?= $block->escapeHtml(__('Id')) ?></th>
                    <th scope="col" class="col"><?= $block->escapeHtml(__('Subject')) ?></th>
                    <th scope="col" class="col"><?= $block->escapeHtml(__('Department')) ?></th>
                    <th scope="col" class="col"><?= $block->escapeHtml(__('Replies')) ?></th>
                    <th scope="col" class="col"><?= $block->escapeHtml(__('Status')) ?></th>
                    <th scope="col" class="col actions"><?= $block->escapeHtml(__('Action')) ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($collection as $item):  ?>
                    <tr>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Id')) ?>" class="col id">
                            <?= $block->escapeHtml($item->getEntityId()) ?>
                        </td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Subject')) ?>" class="col id">
                            <?= $block->escapeHtml($item->getSubject()) ?>
                        </td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Department')) ?>" class="col id">
                            <?= $block->escapeHtml($block->getDepartment($item->getDepartmentId())) ?>
                        </td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Replies')) ?>" class="col id">
                            <?= $block->escapeHtml($block->getReplies($item->getEntityId())) ?>
                        </td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Status')) ?>" class="col id">
                            <?= $block->escapeHtml($block->getLabel($item->getStatusId())) ?>
                        </td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Actions')) ?>" class="col actions">
                            <a href="<?= $block->escapeUrl($block->getViewUrl($item->getEntityId())) ?>" 
                                class="action view">
                                <span><?= $block->escapeHtml(__('View Ticket')) ?></span>
                            </a>
                        </td>  
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>     
<?php else: ?>
    <div class="message info empty">
        <span><?= $block->escapeHtml(__('You don\'t have any support ticket yet.')) ?></span>
    </div>
<?php endif ?>
