<!--
/**
 * DISCLAIMER
 *
 *
 * @category    Tridhyatech
 * @package     Tridhyatech_OneStepCheckout
 * @copyright   Tridhyatech Limited (https://www.tridhyatech.com/)
 * @license     https://www.tridhyatech.com//license.html
 */
-->

<div id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div class="step-title" data-role="title">
        <!-- ko if: window.checkoutConfig.trdConfig.isLatestLayout -->
            <i class="fa fa-home"></i>
        <!-- /ko -->
        <!-- ko ifnot: window.checkoutConfig.trdConfig.isLatestLayout -->
            <span class="fa-stack fa-2x">
                <strong class="fa-stack-1x fa-stack-text fa-inverse">1</strong>
            </span>
        <!-- /ko -->
        <span data-bind="i18n: 'Shipping Address'"></span>
    </div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <!-- ko if: (!quoteIsVirtual) -->
            <!-- ko foreach: getRegion('customer-email') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Address form pop up -->
        <!-- ko if: (!isFormInline) -->
        <button type="button"
                data-bind="click: showFormPopUp, visible: !isNewAddressAdded()"
                class="action action-show-popup">
            <span data-bind="i18n: 'New Address'"></span></button>
        <div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()">
            <!-- ko template: 'Tridhyatech_OneStepCheckout/address/shipping/form' --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko if: !isAmazonAccountLoggedIn() -->
            <!-- Inline address form -->
            <!-- ko if: (isFormInline) -->
            <!-- ko template: 'Tridhyatech_OneStepCheckout/address/shipping/form' --><!-- /ko -->
            <!-- /ko -->

            <!-- ko if: (!isCustomerLoggedIn() && !quoteIsVirtual) -->
                <!-- ko foreach: getRegion('customer-email') -->
                    <!-- ko template: 'Tridhyatech_OneStepCheckout/address/billing/create' --><!-- /ko -->
                <!--/ko-->
            <!--/ko-->

            <div class="trd-clear"></div>

            <!-- ko scope: 'checkout.steps.shipping-step.billingAddress' -->
                <!-- ko template: 'Tridhyatech_OneStepCheckout/address/billing/checkbox' --><!-- /ko -->
            <!--/ko-->
        <!--/ko-->

        <div class="trd-clear"></div>
    </div>
</div>