<?php
/**
 * @author Tridhyatech Team
 * @copyright Copyright (c) 2020 Tridhyatech (https://www.tridhyatech.com)
 * @package Tridhyatech_Attributemanager
 */

?>
<?php
    $attributeHelper = $this->helper(Tridhyatech\Attributemanager\Helper\Data::class);
    $attributeCollection = $attributeHelper->getCustomerUserDefinedAttributes();

    $magentoVersion = $attributeHelper->getMagentoVersion();
    
    $availableCount = 0;

foreach ($attributeCollection as $attr) {
    $attrCode = $attr->getAttributeCode();

    $isAvailable = $attributeHelper->isAttributeForCustomerAccountCreate($attrCode);

    if ($isAvailable != '') {
        $availableCount++;
    }
}
?>
<?php if (($attributeCollection->getSize() > 0) && ($availableCount > 0)): ?>
    <fieldset class="fieldset create info">
        <legend class="legend"><span><?= $block->escapeHtml(__('Additional Information')) ?></span></legend><br>
        <?php foreach ($attributeCollection as $attribute):?>
            <?php
                $attributeCode = $attribute->getAttributeCode();
                $frontEndLabel = $attribute->getStoreLabel($attributeHelper->getStoreId());
                $fieldValidate = ($attribute->getIsRequired()) ? "data-validate={required:true}" : '';
                $fieldRequiredClass = ($attribute->getIsRequired()) ? 'required-entry' : '';
                $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '';
            ?>
            <?php if ($attributeHelper->isAttributeForCustomerAccountCreate($attributeCode)): ?>
                <?php
                    $fieldValue = $block->getFormData()->getData($attributeCode);
                    
                if ($fieldValue == '' || $fieldValue == null) {
                    $fieldValue = $attributeHelper->getCustomerAttributeDefaultValue($attributeCode);
                }
                ?>

                <?php if ($attribute->getFrontendInput() == 'text'):?>
                    <div class="field <?= $block->escapeHtml($attributeCode); ?> 
                        <?php if ($attribute->getIsRequired()): ?>required<?php endif; ?>">
                        <label for="<?= $block->escapeHtml($attributeCode); ?>" class="label">
                            <span><?= $block->escapeHtml(__($frontEndLabel)) ?></span>
                        </label>
                        <div class="control">
                            <input
                                type="text"
                                name="<?= $block->escapeHtml($attributeCode); ?>"
                                id="<?= $block->escapeHtml($attributeCode); ?>"
                                value="<?= $block->escapeHtml($fieldValue) ?>"
                                title="<?= $block->escapeHtml(__($frontEndLabel)) ?>"
                                class="input-text 
                                    <?= $block->escapeHtml(__($fieldFrontendClass))?> 
                                    <?= $block->escapeHtml(__($fieldRequiredClass)) ?>" 
                                    <?= $block->escapeHtml(__($fieldValidate)) ?>>
                        </div>
                    </div>
                <?php elseif (($attribute->getFrontendInput() == 'textarea') &&
                    ($attribute->getData('is_wysiwyg_enabled') == '0')): ?>
                    <div class="field <?= $block->escapeHtml($attributeCode); ?> 
                                                      <?php if ($attribute->getIsRequired()):?>required<?php endif; ?>">
                        <label for="<?= $block->escapeHtml($attributeCode); ?>" class="label">
                            <span><?= $block->escapeHtml(__($frontEndLabel)) ?></span>
                        </label>
                        <div class="control">
                            <textarea
                                class="textarea <?= $block->escapeHtml($fieldRequiredClass) ?>"
                                cols="15"
                                rows="2"
                                title="<?= $block->escapeHtml(__($frontEndLabel)) ?>"
                                name="<?= $block->escapeHtml($attributeCode); ?>"
                                id="<?= $block->escapeHtml($attributeCode); ?>" 
                                          <?= $block->escapeHtml($fieldValidate) ?>>
                                          <?= $block->escapeHtml($fieldValue); ?>
                            </textarea>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput() == 'date' &&
                    $attribute->getIsDatetimeAttribute() == '1'): ?>
                    <div class="field <?= $block->escapeHtml($attributeCode); ?> 
                                        <?php if ($attribute->getIsRequired()): ?>required<?php endif;?>">
                        <label for="<?= $block->escapeHtml($attributeCode); ?>" class="label">
                            <span><?= $block->escapeHtml(__($frontEndLabel)) ?></span>
                        </label>
                        <div class="control">
                                        <?php
                                        $datetimeId = '#'.$attributeCode;
                                        $newFieldValue = $dateTimeHour = $dateTimeMinute =
                                        $dateTimeSecond = $dateTimeYear = $dateTimeMonth = $dateTimeDay = '';

                                        if ($fieldValue != '') {
                                            $newFieldValue = date('m/d/Y H:i:s', strtotime($fieldValue));

                                            $dateTimeHour = date('H', strtotime($fieldValue));
                                            $dateTimeMinute = date('i', strtotime($fieldValue));
                                            $dateTimeSecond = date('s', strtotime($fieldValue));

                                            $dateTimeYear = date('Y', strtotime($fieldValue));
                                            $dateTimeMonth = date('M', strtotime($fieldValue));
                                            $dateTimeDay = date('d', strtotime($fieldValue));
                                        }
                                        ?>

                            <input
                                type="text"
                                name="<?= $block->escapeHtml($attributeCode); ?>"
                                id="<?= $block->escapeHtml($attributeCode); ?>"
                                title="<?= $block->escapeHtml(__($frontEndLabel)); ?>"
                                value="<?= $block->escapeHtml($newFieldValue) ?>"
                                class="input-text <?= $block->escapeHtml($fieldFrontendClass) ?> 
                                        <?= $block->escapeHtml($fieldRequiredClass) ?>" 
                                        <?= $block->escapeHtml(__($fieldValidate)) ?>>
                            <script type="text/javascript">
                                require([
                                    'jquery',
                                    'mage/calendar'
                                ], function($){
                                    $('<?= $block->escapeHtml($datetimeId) ?>').datetimepicker({
                                        dateFormat: 'mm/dd/yy',
                                        timeFormat: 'HH:mm:ss',
                                        changeMonth: true,
                                        changeYear: true,
                                        showsTime: true,
                                        hour: "<?= $block->escapeHtml($dateTimeHour) ?>",
                                        minute: "<?= $block->escapeHtml($dateTimeMinute) ?>",
                                        second: "<?= $block->escapeHtml($dateTimeSecond) ?>",
                                        currentYear: "<?= $block->escapeHtml($dateTimeYear) ?>",
                                        currentMonth: "<?= $block->escapeHtml($dateTimeMonth) ?>",
                                        currentDay: "<?= $block->escapeHtml($dateTimeDay) ?>"
                                    });
                                });
                            </script>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput() == 'date'): ?>
                    <div class="field <?= $block->escapeHtml($attributeCode); ?> 
                    <?php if ($attribute->getIsRequired()): ?>required<?php endif; ?>">
                        <label for="<?= $block->escapeHtml($attributeCode); ?>" class="label">
                            <span><?= $block->escapeHtml(__($frontEndLabel)) ?></span>
                        </label>
                        <div class="control">
                            <?php
                                $dateId = '#'.$attributeCode;
                                $newFieldValue = $dateYear = $dateMonth = $dateDay = '';
                            if ($fieldValue != '') {
                                $newFieldValue = date('m/d/Y', strtotime($fieldValue));
                                $dateYear = date('Y', strtotime($fieldValue));
                                $dateMonth = date('M', strtotime($fieldValue));
                                $dateDay = date('d', strtotime($fieldValue));
                            }
                            ?>
                            <input
                                type="text"
                                name="<?= $block->escapeHtml($attributeCode); ?>"
                                id="<?= $block->escapeHtml($attributeCode); ?>"
                                title="<?= $block->escapeHtml(__($frontEndLabel)); ?>"
                                value="<?= $block->escapeHtml($newFieldValue) ?>"
                                class="input-text <?= $block->escapeHtml($fieldFrontendClass) ?> 
                                <?= $block->escapeHtml($fieldRequiredClass) ?>" 
                                <?= $block->escapeHtml(__($fieldValidate)) ?>>
                            <script type="text/javascript">
                                require([
                                    'jquery',
                                    'mage/calendar'
                                ], function($){
                                    $('<?= $block->escapeHtml($dateId); ?>').datepicker({
                                        showMonthAfterYear: false,
                                        dateFormat: 'dd/mm/yy',
                                        changeMonth: true,
                                        changeYear: true,
                                        yearRange: '1950:2100',
                                        currentYear: "<?= $block->escapeHtml($dateYear) ?>",
                                        currentMonth: "<?= $block->escapeHtml($dateMonth) ?>",
                                        currentDay: "<?= $block->escapeHtml($dateDay) ?>"
                                    });
                                });
                            </script>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput() == 'boolean'): ?>
                    <div class="field <?= $block->escapeHtml($attributeCode); ?> 
                        <?php if ($attribute->getIsRequired()): ?>required<?php endif; ?>">
                        <label for="<?= $block->escapeHtml($attributeCode); ?>" class="label">
                            <span><?= $block->escapeHtml(__($frontEndLabel)) ?></span>
                        </label>
                        <div class="control">
                            <select 
                                id="<?= $block->escapeHtml($attributeCode); ?>"
                                name="<?= $block->escapeHtml($attributeCode); ?>"
                                title="<?= $block->escapeHtml(__($frontEndLabel)); ?>" 
                                class="<?= $block->escapeHtml($fieldRequiredClass) ?>" 
                                    <?= $block->escapeHtml($fieldValidate) ?>>
                                <?php
                                    $options = $attributeHelper->getAttributeOptions($attributeCode);
                                ?>
                                <?php foreach ($options as $option): ?>
                                    <option value="<?= $block->escapeHtml($option['value']) ?>"
                                        <?php if ($option['value'] == $fieldValue) {echo ' selected="selected"';}?>>
                                        <?= $block->escapeHtml($option['label']->getText());?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput() == 'select'): ?>
                    <div class="field <?= $block->escapeHtml($attributeCode); ?> 
                        <?php if ($attribute->getIsRequired()): ?>required<?php endif; ?>">
                        <label for="<?= $block->escapeHtml($attributeCode); ?>" class="label">
                            <span><?= $block->escapeHtml(__($frontEndLabel)) ?></span>
                        </label>
                        <div class="control">
                            <select
                                id="<?= $block->escapeHtml($attributeCode); ?>"
                                name="<?= $block->escapeHtml($attributeCode); ?>"
                                title="<?= $block->escapeHtml(__($frontEndLabel)); ?>"
                                class="<?= $block->escapeHtml($fieldRequiredClass) ?>"
                                    <?= $block->escapeHtml($fieldValidate) ?>>
                                <?php
                                    $options = $attributeHelper->getAttributeOptions($attributeCode);
                                ?>
                                <?php foreach ($options as $option):?>
                                    <option value="<?= $block->escapeHtml($option['value']) ?>"
                                        <?php if ($option['value'] == $fieldValue) {echo ' selected="selected"';}?>>
                                        <?= $block->escapeHtml($option['label']);?>
                                    </option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput() == 'multiselect'): ?>
                    <div class="field <?= $block->escapeHtml($attributeCode); ?> 
                        <?php if ($attribute->getIsRequired()): ?>required<?php endif; ?>">
                        <label for="<?= $block->escapeHtml($attributeCode); ?>" class="label">
                            <span><?= $block->escapeHtml(__($frontEndLabel)) ?></span>
                        </label>
                        <div class="control">
                            <select
                                multiple="multiple"
                                size="5"
                                id="<?= $block->escapeHtml($attributeCode); ?>"
                                name="<?= $block->escapeHtml($attributeCode); ?>[]"
                                title="<?= $block->escapeHtml(__($frontEndLabel)); ?>"
                                class="multiselect <?= $block->escapeHtml($fieldRequiredClass) ?>" 
                                <?= $block->escapeHtml($fieldValidate) ?>>
                                <?php
                                    $options = $attributeHelper->getAttributeOptions($attributeCode);
                                ?>
                                <?php foreach ($options as $option):?>
                                    <?php
                                        $selectedOptions = is_array($fieldValue)
                                            ? $fieldValue : explode(',', $fieldValue);
                                    ?>
                                    <option value="<?= $block->escapeHtml($option['value']) ?>"
                                        <?php if (in_array($option['value'], $selectedOptions)) {
                                            echo ' selected="selected"';
                                        } ?>>
                                            <?= $block->escapeHtml($option['label']);?>
                                    </option>
                                <?php endforeach;?>    
                            </select>
                        </div>
                    </div>
                <?php elseif (($attribute->getFrontendInput() == 'textarea') &&
                    ($attribute->getData('is_wysiwyg_enabled') == '1')): ?>
                    <div class="field <?= $block->escapeHtml($attributeCode); ?> 
                                    <?php if ($attribute->getIsRequired()): ?>required<?php endif; ?>">
                        <label for="<?= $block->escapeHtml($attributeCode); ?>" class="label">
                            <span><?= $block->escapeHtml(__($frontEndLabel)) ?></span>
                        </label>
                        <div class="control">
                            <textarea
                                class="textarea <?= $block->escapeHtml($fieldRequiredClass) ?>"
                                cols="15"
                                rows="5"
                                title="<?= $block->escapeHtml(__($frontEndLabel)); ?>"
                                name="<?= $block->escapeHtml($attributeCode); ?>"
                                id="<?= $block->escapeHtml($attributeCode); ?>" 
                                    <?= $block->escapeHtml($fieldValidate) ?>>
                                    <?= $block->escapeHtml($fieldValue); ?>
                            </textarea>
                            <?php if($magentoVersion >= '2.4.3'): ?>
                                <script type="text/javascript">
                                    require([
                                        "jquery",
                                        "mage/translate",
                                        "mage/adminhtml/events",
                                        "mage/adminhtml/wysiwyg/tiny_mce/setup"
                                    ], function(jQuery) {
                                        var attributecode = '<?= $block->escapeHtml($attributeCode) ?>';

                                        tinymce.init({
                                            selector: '#'+attributecode,
                                            theme: "silver",
                                            paste_data_images: true,
                                            plugins: [
                                                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                                                "searchreplace wordcount visualblocks visualchars code fullscreen",
                                                "insertdatetime media nonbreaking save table contextmenu directionality",
                                                "emoticons template paste textcolor colorpicker textpattern"
                                            ],
                                            menubar: false,
                                            image_advtab: true,
                                            toolbar: "undo redo | styleselect | formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist | link table charmap | fontsizeselect",
                                            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 42pt",
                                        });
                                    });
                                </script>
                            <?php else: ?>
                                <script type="text/javascript">
                                    require([
                                        "jquery",
                                        "mage/translate",
                                        "mage/adminhtml/events",
                                        "mage/adminhtml/wysiwyg/tiny_mce/setup"
                                    ], function(jQuery) {
                                        var attributecode = '<?= $block->escapeHtml($attributeCode) ?>';

                                        wysiwygDescription = new wysiwygSetup(attributecode, {
                                            "width" : "100%",
                                            "height" : "200px",
                                            "plugins" : [{"name":"image"}],
                                            "tinymce4" : {
                                                "toolbar":"formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist | link table charmap","plugins":"advlist autolink lists link charmap media noneditable table contextmenu paste code help table",
                                            }
                                        });
                                        wysiwygDescription.setup("exact");
                                    });
                                </script>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </fieldset>
<?php endif; ?>
