<!--
/**
 * @author Tridhyatech Team
 * @copyright Copyright (c) 2023 Tridhyatech (https://www.tridhyatech.com/)
 * @package Tridhyatech_ProductAttachment
 */
-->
<?php
/** @var \Tridhyatech\ProductAttachment\Block\Cms\View $block */
?>
<?php
    $attachmentList = $block->getAttachments();
    $mediaPath = $block->getAttachmentMediaPath()."productattachment/attachment_file/";
    $helper = $this->helper('Tridhyatech\ProductAttachment\Helper\Data');
    $count =  $attachmentList->getSize();
    $currentID =  $block->getIdentifier();
    $groupID = $block->getGroupId();
    $cmsarray = [];
    $groupIdarray = [];
?>
<?php foreach ($attachmentList->getData() as $attachment):?>
    <?php if ((!empty($attachment['cms']))):?>
        <?php $cmsarray[] = explode(",", $attachment['cms']); ?>
    <?php endif; ?>
    <?php if ((!empty($attachment['customer_group']))):?>
        <?php $groupIdarray[] = explode(",", $attachment['customer_group']); ?>
    <?php endif; ?>
<?php endforeach; ?>   
    
<?php if ($helper->checkInArrayR($currentID, $cmsarray)) { ?>
    <?php if ($count > 0):?>
    <div class="block block-cms-attachment">
        <div class="block-title">
            <strong role="heading">CMS Attchment</strong>
        </div>
        <div class="block-content">
            <?php foreach ($attachmentList->getData() as $attachment):?>
                <?php if (!empty($attachment['attachment_name']) && (!empty($attachment['attachment_file'])) && (!empty($attachment['cms']))):?>
                    <?php $customerGroup=[];
                    if ($attachment['customer_group']!='') {
                        $customerGroup = explode(",", $attachment['customer_group']);
                    } ?>
                     <?php if ($attachment['customer_group']=='' || in_array($groupID, $customerGroup)):?>
                            <?php $cms = explode(",", $attachment['cms']); ?>
                            <?php if (in_array($currentID, $cms)) { ?>
                                <?php $fileurl = $mediaPath.$attachment['attachment_file'] ?>
                                <?php $attachment_icon = $block->attachmentIcon($attachment['attachment_file']); ?>
                            <div class="tr-attachment">
                                <img src="<?php if ($attachment_icon) {echo $block->escapeHtml($attachment_icon);
                                          } else {echo $block->escapeHtml($block->defaultIcon());} ?>" width="30px" height="30px" class="tr-icon" />
                                <a href="<?= $block->escapeHtml(__($fileurl)); ?>" target="_blank" class="tr-filelink"> <?= $block->escapeHtml(__($attachment['attachment_label'])); ?></a>
                            </div>
                            <?php } ?>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if (!empty($attachment['attachment_name']) && (!empty($attachment['attachment_link']))):?>
                    <?php $customerGroup=[];
                    if ($attachment['customer_group']!='') {
                        $customerGroup = explode(",", $attachment['customer_group']);
                    } ?>
                     <?php if ($attachment['customer_group']=='' || in_array($groupID, $customerGroup)):?>
                            <?php $cms = explode(",", $attachment['cms']); ?>
                            <?php if (in_array($currentID, $cms)) { ?>
                            <div class="tr-attachment">
                                <img src="<?= $block->escapeHtml($block->linkIcon()); ?>" width="30px" height="30px" class="tr-icon" />
                                <a href="<?= $block->escapeHtml($attachment['attachment_link']); ?>" target="_blank" class="tr-filelink"> <?= $block->escapeHtml(__($attachment['attachment_label'])); ?></a>
                            </div>
                        <?php } ?>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </div>
    <?php endif; ?>
<?php } ?>