.additional-info .control .field{
	margin: 0 0 10px;
}
.additional-info .control .field .label{
	margin: 0 0 10px;
	display: inline-block;
}
.additional-info .control .field._required .label::after{
	content: '*';
	color: #e02b27;
	font-size: 1.2rem;
	margin: 0 0 0 5px;
}